.drop-area {
  display: inline-block;
  min-width: 120px;
  max-width: 150px;
  height: 25px;
  max-height: 30px;
  border-radius: 10px;
  border: 2px solid #fff;
  margin: 0px 5px;
  margin-bottom: -12px;
  text-align: center;
  cursor: grab;
  // font-size: 15px;
}

.drop-hover {
  border: 2px solid blue;
}

.disabled {
  pointer-events: none;
  border: 2px solid #a6a2a2;
  color: #a6a2a2;
  background-color: rgb(46, 45, 45);
}

.answer-success {
  pointer-events: none;
  border: 2px solid #259c08;
  background-color: #0795421f;
}

.answer-danger {
  pointer-events: none;
  border: 2px solid #ff0303;
  background-color: #dc110129;
}
